h1{
    font-family: Nohemi,"Instrument Sans", sans-serif;
   
    font-size: 10vw;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    color: var(--color1);
    /* letter-spacing: 4px; */
    /* word-spacing: 20px; */
}
p{
    font-family: "Space Grotesk";
    font-size: 24px;
    font-weight: 300;
    color: var(--color1);
}